<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/om"
        android:label="@string/app_name"
        android:roundIcon="@drawable/om"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".fragment.AboutAppFragment"
            android:exported="false" />
        <activity
            android:name=".activity.VerseTranslationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.VerseDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HanumanChalisaActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FavouriteActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ChapterDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AllVerseActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AboutGitaActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>